h1 {
  font-family: "Square Peg", cursive;
  font-size: 5rem;
  color: #ff8b94;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-family: "Square Peg", cursive;
  font-size: 2rem;
  color: #ff8b94;
}

h3 {
  font-family: "Quicksand", sans-serif;
  color: #4a4b58;
}

.intro-banner-section {
  min-height: 50vh;
}
