.interest-card {
     padding: 16px;
     text-align: left;
     /* border: 1px solid #f1f1f1; */
     background-color: #f1f1f1;
}

.interest-card h2 {
  color:  #FF8B94;
  /* font-family: 'Quicksand', sans-serif; */
  margin: 2px;
}
